---
import MasterLayout from "../../layouts/MasterLayout.astro";
import PostCard from "../../components/PostCard.astro";
const allPosts = await Astro.glob('./posts/*.md')
---
<MasterLayout>
    <main>
        <div class="container flex mx-auto flex-wrap">
        {
            allPosts.map(post => <PostCard url={post.url} data={post.frontmatter}></PostCard>)
        }
        </div>
    </main>
</MasterLayout>