---
import MasterLayout from "../../layouts/MasterLayout.astro";
const allPosts = await Astro.glob('./posts/*.md')
---
<MasterLayout>
    <main>
        <h1>blog</h1>
        {
            allPosts.map(post =><div><a href={post.url}>{post.frontmatter.title}</a></div>)
        }
    </main>
</MasterLayout>