---
import MasterLayout from "../../layouts/MasterLayout.astro";
import PostCard from "../../components/PostCard.astro";
const allPosts = await Astro.glob('./posts/*.md')

allPosts.sort((b,a) => a.frontmatter.pubDate.localeCompare(b.frontmatter.pubDate)||b.frontmatter.pubDate.localeCompare(a.frontmatter.pubDate))
---
<MasterLayout>
    <main>
        <div class="container flex mx-auto flex-wrap">
        {
            allPosts.map(post => <PostCard url={post.url} data={post.frontmatter}></PostCard>)
        }
        </div>
    </main>
</MasterLayout>

<script>
    let t1 ='c';
    let t2 = 'j';
    let result1 = t1.localeCompare(t2);
    let result2 = t2.localeCompare(t1);

    console.log(result1||result2);
    console.log(result2||result1);
</script>