---
import MasterLayout from "../../layouts/MasterLayout.astro";
import PostCard from "../../components/PostCard.astro";
const allPosts = await Astro.glob('./posts/*.md')
---
<MasterLayout>
    <main>
        <h1>blog</h1>
        {
            allPosts.map(post => <PostCard url={post.url} data={post.frontmatter}></PostCard>)
        }
    </main>
</MasterLayout>